*{
    margin: 0;
    padding: 0;
}
body{
    background-color:#333;

}


#top{
	z-index:1;
	background-color: black;
    /*height: 50px;*/
    width: 100%;
    position: fixed;
	top:0px;
	opacity:0.5;
	
}


#content{
	/*background-color: grey;
    height: 1600px;*/
    width: 100%;
    position: relative;
}
#bottom{
    background-color: black;
    /*height: 50px;*/
    width: 100%;
    position: fixed;
	/*bottom:0px;*/
	opacity:0.5;
}

#content div {
        height: 100px;
    /* width: 100%; */
    /* border: darkblue; */
    position: relative;
    /* padding-bottom: 2px; */
    /* color: black; */
    /* border-bottom: blue; */
    /* padding-bottom: 17px; */
    box-shadow: azure;
    /* box-shadow: 0px 1px 0px 0px white; */
    /* -webkit-box-decoration-break: clone; */
    /* border: 1px seashell; */
    border-radius: 11px;
    overflow: hidden;
    background-color: rgb(243, 241, 241);
    margin-bottom: 1mm;
}

#content div span{
 display:block;
 padding: 6px;
}

#content div .dleft{
    height: 100px;
    width: 59%;
	color: #4a4a4a;
    position: relative;
	float:left;
}
#content div .dright{
    height: 100px;
	/*background-color:#565A56;*/
    width: 40%;
    position: relative;
	float:right;
}
.title{
    width: 100%;
    position: relative;
    font-weight: bold;
    font-size: 13px;
}
.desc{
	width: 100%;
    position: relative;
    font-size: 10px;
}
#vcontent{
	width:100%;
	position:fixed;
	background-color:black;
	display:none;
	opacity:0.5;
	top:0px;
}


.left{
	float:left;
    width: 50%;
    position: relative;
    cursor: pointer;
    background-color:#FF9165;

}

.right{
	float: right;
    width: 50%;
    position: relative;
    cursor: pointer;
	background-color:#FF9165;
}


.closeme{
	font-size:20px;
	position:relative;
	float:right;
	padding: 5px;
	color:white;
	z-index: 1;
}

#mcontent{
	width: 94%;
    left: 2%;
    top: 2%;
    bottom: 2%;
    height: 96%;
    background-color: #AD3333;
    position: relative;

}

#filtericon img{
    height: 75%;
    padding: 1%;
    float: right;
}

.dright img{

    height:100px;
    float:right;
}


